@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@700&family=Inter:wght@600&display=swap');

/* font-family: 'Figtree',
sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("./image/Header-Car/Car.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 46rem;
}

.login-btn {
    font-family: 'Inter';
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 48px;
}

.img-logo {
    height: 2rem;
}

.caps-information {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    margin-top: -3rem;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    backdrop-filter: blur(14px);
}

.location {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    gap: 8px
}

.find-vehicle {
    padding: 16px 24px 16px 24px;
    border-radius: 64px;
    gap: 8px
}

@media only screen and (max-device-width:600px) and (min-device-width:200px) {
    .login-btn {
        display: none;
    }

    .nav-btn {
        display: block;
    }

    .caps-information{
        align-items: center;
    }
}

@media only screen and (max-device-width:2000px) and (min-device-width:601px) {
    .login-btn {
        display: block;
    }

    .nav-btn {
        display: none;
    }
}
