@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@700&family=Inter:wght@600&display=swap');

/* font-family: 'Figtree',
sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("./image/Header-Car/Car.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 767px;
}

.login-btn {
    font-family: 'Inter';
    border-radius: 48px;
    background: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1.4rem;
    font-weight: 600;
    font-size: 16px;
}

.login-btn:hover {
    background-color: white;
    color: black;
}

.nav-btn button {
    font-family: 'Inter';
    border-radius: 48px;
    background: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1.4rem;
    font-weight: 600;
    font-size: 16px;
}

.nav-btn :hover {
    background-color: white;
    color: black;
}

.img-logo {
    height: 2rem;
}

.caps-information {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    margin-top: -4rem;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    backdrop-filter: blur(14px);
}

.location {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    gap: 8px
}

.find-vehicle {
    padding: 0.6rem 1.3rem;
    border-radius: 64px;
    gap: 8px;
    background-color: rgba(15, 15, 15, 1);
    color: white;
    border: none;
    font-weight: 600;
}

/* Rent Car */

.brand-boxs {
    border-radius: 8px;
    background: rgba(15, 15, 15, 0.05);
    width: 204px;
    height: 120px;
}

.brand-boxs:hover {
    border: 2px solid black;
}

/* // Colletion car // */

.card:hover {
    border: 2px solid black;
}

.car-btn {
    padding: 12px, 19px, 12px, 19px;
    border-radius: 58px;
    border: 20px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
}

.car-btn:hover {
    background-color: black;
    color: white;
}

.car-information {
    padding: 8px, 16px, 8px, 16px;
    border-radius: 16px;
    background: rgba(246, 246, 246, 1);
    font-weight: 500;
}

.rent-btn {
    font-weight: 600;
}

.see-all {
    border-radius: 64px;
    font-size: 17px;
    font-weight: 700;
    background: rgba(15, 15, 15, 1);
    color: rgba(255, 255, 255, 1);
    border: 0px;
    padding: 1rem 2.1rem;
}

.line {
    width: 20rem;
    color: rgba(255, 255, 255, 1);
    height: 10rem;
}

/* Works */

.brower-select {
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.thar {
    border-radius: 24px;
    background: #F5F5F5;
    margin-left: -3rem;
}

.thar img {
    margin-top: 5rem;
    width: 625px;
    height: 400px;
    flex-shrink: 0;
}

@media (max-device-width:600px){
    .thar{
        display: none;
    }
    
    .thar img{
        display: none;
    }
}

@media (max-device-width:1199px)
{
    .thar {
        margin-left: 0rem;
        width: 39rem;
    }

    .thar img {
        margin-left: -3rem;
        width: 37rem;
    }
}

/* Services */

.service {
    border-radius: 28px;
    border: 8px solid rgba(255, 255, 255, 0.90);
    background: #FFF;
    width: 48px;
    height: 48px;
}

/* Reviws */

.round {
    border: 2px solid black;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
}

.round-2 {
    border: 2px solid black;
    border-radius: 24px;
    background-color: black;
}

@media only screen and (max-device-width:767px) and (min-device-width:451px) {
    .footer-logo {
        margin-bottom: 2rem;
    }

    .nav {
        margin-left: 5rem;
    }

    .Social-Media {
        margin-top: 2rem;
    }
}

@media only screen and (max-device-width:500px) and (min-device-width:200px) {

    .rent {
        padding-left: 2rem;
    }

    .brand {
        padding-left: 3.8rem;
    }

    .footer-logo {
        margin-bottom: 1rem;
    }

    .nav {
        margin-left: 1rem;
    }

    .Social-Media {
        margin-top: 1rem;
    }
}


/* Responsive */

@media only screen and (max-device-width:600px) and (min-device-width:200px) {
    .login-btn {
        display: none;
    }

    .nav-btn {
        display: block;
    }

    .caps-information {
        align-items: center;
    }

    .caps-information {
        margin-top: -12rem;
    }
}

@media only screen and (max-device-width:2000px) and (min-device-width:601px) {
    .login-btn {
        display: block;
    }

    .nav-btn {
        display: none;
    }
}


