body {
    background-image: url(./image/portrait-attractive-cute-young-student-girl-isolated-white-wall_231208-1270.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-link {
    color: black;
}

.first {
    width: 200%;
}

.right-side {
    width: 61%;
    padding-top: 5px;
}

.underline {
    padding-top: 10px;
}

.left-side {
    width: 141%;
}

.first-dropdown {
    border: 0px;
    background: transparent;
    padding-left: 15px;
}

.second-dropdown {
    border: 0px;
    background: transparent;
    padding-left: 15px;
}


.logo {
    padding-left: 10px;
    padding-top: 5px;
}

.fa-twitter {
    padding-left: 10px;
    font-size: 20px;
}

.fa-facebook-f {
    padding-left: 10px;
    font-size: 20px;
}

.fa-instagram {
    padding-left: 10px;
    font-size: 20px;
}

.fa-youtube {
    padding-left: 10px;
    font-size: 20px;
}

.fa-facebook-messenger {
    padding-left: 10px;
    font-size: 20px;
}


.right-side-2 {
    width: 20%;
}

.center-2 li {
    padding-left: 20px;
}

.center-2 li a{
    text-transform: uppercase;
    font-weight: 700;
}

.left-side-2 {
    width: 60%;
    padding-top: 8px;
    padding-left: 400px;
}

.fa-magnifying-glass {
    padding-left: 20px;
    font-size: 20px;
}

.fa-heart {
    padding-left: 20px;
    font-size: 20px;
}

.fa-cart-shopping {
    padding-left: 20px;
    font-size: 20px;
}

.fa-user {
    padding-left: 20px;
    font-size: 20px;
}

.data {
    width: 92%;
}

.paregraph p{
    font-weight: 550;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
}

.big-tital h1{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 22px;
    margin-top: -10px;
    font-size: 50px;
}

.small-tital {
    font-weight: 300;
    margin-bottom: 22px;
}

.bnt {
    color: white;
    background-color: black;
    padding: 12px 15px 12px 15px;
    border: 0px;
}

.bnt:hover {
    color: black;
    background: transparent;
    border: 2px solid black;
}

.last{
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    position:relative;
    top: 35vh;
}


.last-second{
    padding-left: 50px;
}

.last-third{
    padding-left: 50px;
}

.last-fourth{
    padding-left: 50px;
}

.red{
    color: red;
}

.dark{
    font-weight: 700;
}

.white{
    font-weight: 100
}

.rounded-pill{
    font-size:7px;
    color: white;
}

.call a{
    background-color:black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1em 2em;
    font-size: 1em;
    text-decoration: none;
    border-radius: 0.3em;
}
