*{
    margin: 0;
    padding: 0;
}

/* Animation  */


.dish{
    animation-name: dish;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes dish {

    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}


