@media screen and (max-device-width:565px) and (min-device-width:200px) {

    header{
        height: 350px;
    }
    .nav-item a{
        margin-left: 1px;
        padding-left: 8px;
    }

    .nav-item a:hover{
        color: black;
        background-color: white;
        border-radius: 40px;
    }

    .card{
        width: 13rem;
    }

    .supported{
        height: 20vh;
    }
    .supported img{
        height: 50px;
        width: 50px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-2{
        padding-top: 20px;
        padding-right: 50px;
    }
    
    .menu-3{
        padding-top:20px;
        margin-right: 50px;
    }


}

@media screen and (max-device-width:750px) and (min-device-width:566px) {

    header{
        height: 350px;
    }
    .nav-item a{
        margin-left: 1px;
        padding-left: 8px;
    }

    .nav-item a:hover{
        color: black;
        background-color: white;
        border-radius: 40px;
    }

    .card{
        width: 15rem;
    }

    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-2{
        padding-top: 20px;
        padding-right: 50px;
    }
    
    .menu-3{
        padding-top:20px;
        margin-right: 50px;
    }

    .supported{
        height: 20vh;
    }

    .supported img{
        height: 100px;
        width: 100px;
    }

    .clint-name{
        padding-left: 10px;
    }

    h1{
        padding-top: 5px;
    }

    .contact{
        margin-top: -15px;
    }

    form{
        width: 50%;
    }
}

@media screen and (min-device-width:751px) and (max-device-width:1330px){

    header{
        height: 350px;
    }
    .nav-item a{
        margin-left: 1px;
        padding-left: 8px;
    }

    .nav-item a:hover{
        color: black;
        background-color: white;
        border-radius: 40px;
    }

    .card{
        width: 13rem;
    }

    .supported{
        height: 35vh;
    }

    .supported img{
        height: 100px;
        width: 100px;
    }

}

@media screen and (min-device-width:1331px) and (max-device-width:1500px){

    .supported img{
        height: 100px;
        width: 100px;
    }
}
