@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.img {
    background-image: url(./image/laptop\ backgrounds.jpg);
    background-repeat: no-repeat;
    height: 745px;

}

h1 {
    margin: 0 30px;
    color: rgb(241, 99, 17);
    position: relative;
    top: 30px;
}

.center ul li {
    display: inline-block;
    margin: 50px;
    position: relative;
    top: -41px;
    left: 200px;
}

.center ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase
}

.center ul li a:hover {
    color:rgb(241, 99, 17);
    font-weight: bold;
}

.type input {
    height: 30px;
    width: 207px;
    padding-left: 12px;
    position: relative;
    top: -110px;
    left: 1064px;
    border-radius: 6px;
    border: 2px solid rgb(241, 99, 17);
}

.b button {
    height: 30px;
    width: 84px;
    background-color: rgb(241, 99, 17);
    color: white;
    border-radius: -7px;
    border: 2px solid rgb(222, 106, 106);
    position: relative;
    top: -140px;
    left: 1265px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.b button:hover {
    font-weight: bold;
}

.web h1 {
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
}

.development h1 {
    color: rgb(241, 99, 17);
    font-size: 60px;
    letter-spacing: 1px;
}

.course h1 {
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
}

.first {
    padding-left: 30px;
    color: white;
}

.join button {
    height: 38px;
    width: 118px;
    background-color: rgb(241, 99, 17);
    color: black;
    border-radius: 7px;
    border: 2px solid rgb(241, 99, 17);
    position: relative;
    top: 9px;
    left: 28px;
    font-weight: 200;
    cursor: pointer;
}

.join button:hover {
    font-weight: bold;
}

.black {
    position: relative;
    top: -276px;
    left: 1096px;
    background-color: black;
    width: 300px;
    height: 400px;
    border-radius: 7px;
}

.login button {
    border-radius: 15px;
    color: orange;
    background-color: white;
    height: 40px;
    width: 237px;
    word-spacing: 2px;
    font-size: 18px;
    position: relative;
    left: 25px;
    top: 20px;
    font-weight: bold;
}

.login input {
    color: white;
    background-color: black;
    width: 232px;
    height: 25px;
    padding-left: 5px;
    position: relative;
    left: 25px;
    top: 10px;
    font-weight: bold;
    border-top: none;
    border-right: none;
    border-left:none ;
    border-bottom:1px solid rgb(241, 99, 17) ;
}

.login p {
    color: white;
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 20px;
}

.login img {
    height: 40px;
    margin-top: 35px;
    margin-left: 42px;
}